<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Natural Language Processing</title>
    </head>

    <body>

        <header>
            <div class="logo">
                logo
            </div>
            <div class="nav">
                navigation
            </div>
        </header>

        <main>
            <section class="intro">
                    <p class="sentiment">Sentiment Analysis involves extracting connotative meaning from human language using Natural Language Processing via Machine Learning.</p>

                    <p class="list__head">This website uses MeaningClouds's Sentiment Analysis API which infers meaning from written language by:</p>
                     <ol>
                        <li>Extracting aspect-based sentiment.</li> 
                        <li>Distinguishing facts and opinions.</li> 
                        <li>Detecting irony and polarity disagreement.</li>
                     </ol>
            </section>
               
            <section>
                 <form class="" method="POST" action="/test">
                    <h2>input the url for a website you'd like to analyze: </h2>
                    <input type="text" id="userInput"  name="input" value="" placeholder="URL" onkeyup="return Client.checkValidURL()" onpaste="return Client.checkValidURL()">
                    <div id="validate"></div>
                    <div class="buttons">
                        <input type="submit" id="submit" name="" value="submit" onsubmit="return Client.handleSubmit(event)">
                        <button id="retrieve" onclick="return Client.updateUI()">get results</button>
                    </div>
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>created by: Justin R. &copy; 2020</p>
        </footer>

        <script>
                // Check that service workers are supported
                if ('serviceWorker' in navigator) {
                    // Use the window load event to keep the page load performant
                    window.addEventListener('load', () => {
                        navigator.serviceWorker.register('/service-worker.js');
                    });
                }
        </script>

    </body>
</html>
